<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

        <head th:fragment="header">

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>Kenya National Chiefs</title>

            <!-- Bootstrap CSS -->
            <link th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" rel="stylesheet" />

            <!-- Custom fonts for this template-->
            <link th:href="@{/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
            <link
                href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                rel="stylesheet">
            <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/ptarmigan">

            <!-- Custom styles for this template-->
            <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

        </head>

        <body>

            <div th:fragment="userMessages">
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-envelope fa-fw"></i>
                        <!-- Counter - Messages -->
                        <span class="badge badge-danger badge-counter" th:text="${messageCount}">7</span>
                    </a>

                    <div class="dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                        <h6 class="dropdown-header">
                            Message Center
                        </h6>
                        <th:block th:if="${messages.isEmpty()}">
                            <div style="text-align: center;" class="p-3">
                                No messages
                            </div>
                        </th:block>
                        <th:block th:each="message : ${messages}">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" th:src="@{/img/avater.png}" alt="...">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate" th:text="${message.mail}">Hi there! I am wondering if you can help me with
                                        a
                                        problem I've been having.</div>
                                    <div class="small text-gray-500" th:text="${message.sender.firstName + ' ' + message.sender.thirdName}">Emily Fowler · 58m</div>
                                </div>
                            </a>
                        </th:block>
                    
                        <a class="dropdown-item text-center small text-gray-500" th:href="@{/users/{idNumber}/recievedMessages(idNumber = ${user.idNumber})}">Read More
                            Messages</a>
                    </div>
                </li>

            </div>

            <div th:fragment="userInfo">

                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                            th:text="${user.firstName + ' ' + user.thirdName}">Douglas McGee</span>
                        <img class="img-profile rounded-circle" th:src="@{/img/avater.png}">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-end shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" th:href="@{/users/{idNumber}(idNumber = ${user.idNumber})}">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </div>

            <div th:fragment="logoutModal">
                <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                                <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">Select "Logout" below if you are ready to end your current session.
                            </div>
                            <div class="modal-footer">
                                <button class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm" type="button" data-bs-dismiss="modal">Cancel</button>
                                <a class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" href="/?logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Jquery -->
            <script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
        </body>

    </html>