<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" rel="stylesheet" />

    <title>user</title>

</head>

<body>

    <span th:fragment="sidebar">
        <ul class="navbar-nav bg-primary sidebar sidebar-dark accordion accordion-flush" id="accordionSidebar"
            style="height: 100%">

            <!-- Sidebar - Brand -->
            <th:block th:if="${user.role.name == 'USER'}">

                <nav class="navbar">
                    <div class="container-fluid">
                        <a class="navbar-brand" th:href="@{/accounts}" id="title" style="margin:auto;">
                            <img th:src="@{/img/logo.png}" alt="Logo" width="40" height="34"
                                class="d-inline-block align-text-top">
                        </a>
                    </div>
                </nav>

            </th:block>
            <th:block th:if="${user.role.name != 'USER'}">

                <nav class="navbar">
                    <div class="container-fluid">
                        <a class="navbar-brand" th:href="@{/users}" id="title" style="margin:auto;">
                            <img th:src="@{/img/logo.png}" alt="Logo" width="40" height="34"
                                class="d-inline-block align-text-top">
                        </a>
                    </div>
                </nav>

            </th:block>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <th:block th:if="${user.role.name != 'USER'}">
                    <a class="nav-link" th:href="@{/users}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </th:block>
                <th:block th:if="${user.role.name == 'USER'}">
                    <a class="nav-link" th:href="@{/accounts}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </th:block>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#messagePages"
                    aria-expanded="true" aria-controls="messagePages">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    <span>Messages <span class="badge badge-danger" style="font-size: 10px;" th:text="${messageCount}"
                            th:if="${messageCount > 0}"> 2 </span> </span>
                </a>
                <div id="messagePages" class="collapse" aria-labelledby="headingPages"
                    data-bs-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Message Screens:</h6>
                        <th:block th:if="${user.role.name != 'USER'}">
                            <a class="collapse-item"
                                th:href="@{/users/{idNumber}/message(idNumber = ${user.idNumber})}"><i
                                    class="fa fa-pen-fancy fa-fw fs-sm" aria-hidden="true"></i>&nbsp; Compose
                                Message</a>
                        </th:block>
                        <a class="collapse-item"
                            th:href="@{/users/{idNumber}/recievedMessages(idNumber = ${user.idNumber})}"><i
                                class="fa fa-inbox fa-fw fs-sm" aria-hidden="true"></i>&nbsp; Inbox <span
                                class="badge badge-danger badge-counter" style="font-size: 9px;"
                                th:text="${messageCount}" th:if="${messageCount > 0}">7</span> </a>
                        <th:block th:if="${user.role.name != 'USER'}">
                            <a class="collapse-item"
                                th:href="@{/users/{idNumber}/sentMessages(idNumber = ${user.idNumber})}"><i
                                    class="fa fa-paper-plane fa-fw fs-sm" aria-hidden="true"></i>&nbsp; Sent
                                Messages</a>
                        </th:block>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#usersPages"
                    aria-expanded="true" aria-controls="usersPages">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span>Users</span>
                </a>
                <div id="usersPages" class="collapse" aria-labelledby="headingPages" data-bs-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Users Screens:</h6>
                        <th:block th:if="${user.role.name != 'USER'}">
                            <a class="collapse-item" th:href="@{/user}"><i class="fa fa-user-plus fa-fw fs-sm"
                                    aria-hidden="true"></i>&nbsp; Add User</a>
                        </th:block>
                        <a class="collapse-item" th:href="@{/users}"> <i class="fa fa-users fa-fw fs-sm"
                                aria-hidden="true"></i>&nbsp; Users<span class="badge badge-danger badge-counter"
                                style="font-size: 9px;" th:text="${messageCount}" th:if="${messageCount > 0}">7</span>
                        </a>
                        <a class="collapse-item" th:href="@{/activeUsers}"><i class="fa fa-users fa-fw fa-sm"
                                aria-hidden="true"></i>&nbsp; Active Users </a>
                        <a class="collapse-item" th:href="@{/inActiveUsers}"><i class="fa fa-users fa-fw fa-sm"
                                aria-hidden="true"></i>&nbsp; Inactive Users </a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/accounts}">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <span>Accounts</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#contributionPages"
                    aria-expanded="true" aria-controls="contributionPages">
                    <i class="fa fa-print" aria-hidden="true"></i>
                    <span>Contributions</span>
                </a>
                <div id="contributionPages" class="collapse" aria-labelledby="headingPages"
                    data-bs-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Contributions Screens:</h6>
                        <a class="collapse-item" th:href="@{#}" data-bs-toggle="modal"
                            data-bs-target="#addContributionModal">
                            <i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp; Add Contributions
                        </a>
                        <a class="collapse-item" th:href="@{#}" data-bs-toggle="modal"
                            data-bs-target="#contributionModal">
                            <i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp; Contributions
                        </a>
                        <a class="collapse-item" th:href="@{/pendingTransaction}"><i class="fa fa-users fa-fw fa-sm"
                                aria-hidden="true"></i>&nbsp; Pending Contributions </a>
                        <a class="collapse-item" th:href="@{/rejectedTransaction}"><i class="fa fa-users fa-fw fa-sm"
                                aria-hidden="true"></i>&nbsp; Rejected Contributions </a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>

            <!-- Add Contribution Modal -->
            <div class="modal fade" id="addContributionModal" tabindex="-1" aria-labelledby="addContributionModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addTransactionModalLabel">
                                <i class="fa fa-plus fa-sm fa-fw" aria-hidden="true"></i> Add Contribution
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="g-3 needs-validation" th:object="${transaction}" action="#"
                                th:action="@{/addTransaction}" method="post" novalidate>
                                <!-- Account Name -->
                                <div class="form-floating mb-3">
                                    <select class="form-select form-control" aria-label="Default select example"
                                        required onChange="contributionReport()" id="accountId" name="accountId">
                                        <option value="">...</option>
                                        <th:block th:each="account : ${accounts}">
                                            <option th:value="${account.id}" th:text="${account.name}"></option>
                                        </th:block>
                                    </select>
                                    <label for="accountNameInput">Account Name</label>
                                    <div class="valid-feedback">Looks good!</div>
                                    <div class="invalid-feedback">
                                        Please provide an Account Name.
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <select name="idNumberInput" class="form-select form-select-sm"
                                        aria-label="userIdNumber" autocomplete="on">
                                        <th:block th:each="user : ${allUsers}">
                                            <option
                                                th:text="${user.idNumber + ' :- ' + user.firstName + ' '  + user.thirdName}"
                                                th:value="${user.idNumber }">One
                                            </option>
                                        </th:block>
                                    </select>
                                    <label class="col-form-label col-form-label-sm" for="idNumberInput"><i
                                            class="fa fa-id-card fa-sm fa-fw" aria-hidden="true"></i>&nbsp; Id
                                        Number</label>
                                    <div class="valid-feedback">Looks good!</div>
                                    <div class="invalid-feedback">
                                        Please provide an Id Number.
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" th:field="*{referenceNumber}"
                                        class="form-control form-control-sm" id="referenceNumberInput"
                                        placeholder="Reference Number" required>
                                    <label for="referenceNumber" class="col-form-label col-form-label-sm"><i
                                            class="fa fa-key fa-sm fs-fw" aria-hidden="true"></i>&nbsp;
                                        Reference
                                        Number </label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please enter reference number.
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="number" th:field="*{amount}" class="form-control form-control-sm"
                                        id="amountInput" placeholder="Amount" min="1" required>
                                    <label for="amount" class="col-form-label col-form-label-sm"><i
                                            class="fa fa-money-bill-alt fa-sm fs-fw" aria-hidden="true"></i>&nbsp;
                                        Amount </label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please enter amount.
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="date" th:field="*{date}" class="form-control form-control-sm"
                                        id="dateInput" placeholder="Date" required>
                                    <label for="date" class="col-form-label col-form-label-sm"><i
                                            class="fa fa-calendar fa-sm fs-fw" aria-hidden="true"></i>&nbsp;
                                        Date </label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please enter a valid date.
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="time" th:field="*{time}" class="form-control form-control-sm"
                                        id="timeInput" placeholder="time" required>
                                    <label for="time" class="col-form-label col-form-label-sm"><i
                                            class="fa fa-clock fa-sm fs-fw" aria-hidden="true"></i>&nbsp;
                                        Time </label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please enter a valid time.
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-sm btn-success shadow-sm"><i
                                        class="fa fa-save fa-sm fa-fw" aria-hidden="true"></i>
                                    Contribute</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-danger shadow-sm" data-bs-dismiss="modal"><i
                                    class="fa fa-times fa-sm fa-fw" aria-hidden="true"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Contribution Modal -->
            <div class="modal fade" id="contributionModal" tabindex="-1" aria-labelledby="contributionModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="contributionModalLabel">Contributions</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="g-3 needs-validation" th:object="${transaction}" action="#"
                                th:action="@{/transactionsPage}" method="post" novalidate>
                                <!-- Account Name -->
                                <div class="form-floating mb-3">
                                    <select class="form-select form-control" aria-label="Default select example"
                                        required onChange="contributionToggle()" id="mainAccountName"
                                        name="mainAccountName">
                                        <option value="">...</option>
                                        <th:block th:each="account : ${accounts}">
                                            <option th:value="${account.name}" th:text="${account.name}"></option>
                                        </th:block>
                                    </select>
                                    <label for="accountNameInput">Account Name</label>
                                    <div class="valid-feedback">Looks good!</div>
                                    <div class="invalid-feedback">
                                        Please provide an Account Name.
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-sm btn-success shadow-sm" style="display: none;"
                                    id="viewContributionAll"><i class="fa fa-save fa-sm fa-fw" aria-hidden="true"></i>
                                    View Contributions</button>
                                <button type="button" class="btn btn-sm btn-success shadow-sm" data-bs-toggle="modal"
                                    data-bs-target="#monthlyContributionModal" style="display: none;"
                                    id="viewContributionMonthly"><i class="fa fa-save fa-sm fa-fw"
                                        aria-hidden="true"></i>
                                    View Contributions
                                </button>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Monthly Contribution Modal -->
            <div class="modal fade" id="monthlyContributionModal" tabindex="-1"
                aria-labelledby="monthlyContributionModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="monthlyContributionModalLabel">Monthly Contributions</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="g-3 needs-validation" action="#" th:action="@{/monthlyTransactionPage}"
                                method="post" novalidate>
                                <!-- Year -->
                                <div class="form-floating mb-3">
                                    <select class="form-select form-control" aria-label="Default select example"
                                        name="accountYear" required>
                                        <option value="">...</option>
                                        <th:block th:each="year : ${years}">
                                            <option th:value="${year.year}" th:text="${year.year}"></option>
                                        </th:block>
                                    </select>
                                    <label for="accountNameInput">Year</label>
                                    <div class="valid-feedback">Looks good!</div>
                                    <div class="invalid-feedback">
                                        Please select Year.
                                    </div>
                                </div>

                                <!-- Month -->
                                <div class="form-floating mb-3">
                                    <select class="form-select form-control" aria-label="Default select example"
                                        name="accountMonth" required>
                                        <option value="">...</option>
                                        <th:block th:each="month : ${months}">
                                            <option th:value="${month}"
                                                th:text="${#strings.capitalize(#strings.toLowerCase(month.name))}">
                                            </option>
                                        </th:block>
                                    </select>
                                    <label for="accountNameInput">Month</label>
                                    <div class="valid-feedback">Looks good!</div>
                                    <div class="invalid-feedback">
                                        Please provide a Month.
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-sm btn-success shadow-sm"><i
                                        class="fa fa-save fa-sm fa-fw" aria-hidden="true"></i>
                                    View Contributions</button>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#reportsPages"
                    aria-expanded="true" aria-controls="reportsPages">
                    <i class="fa fa-print" aria-hidden="true"></i>
                    <span>Reports</span>
                </a>
                <div id="reportsPages" class="collapse" aria-labelledby="headingPages" data-bs-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Report Screens:</h6>
                        <a class="collapse-item" th:href="@{/users/pdf}"> <i class="fa fa-users fa-fw fa-sm"
                                aria-hidden="true"></i>&nbsp; Users </a>
                        <a class="collapse-item" th:href="@{/activeUsers/pdf}"><i class="fa fa-users fa-fw fa-sm"
                                aria-hidden="true"></i>&nbsp; Active Users </a>
                        <a class="collapse-item" th:href="@{/inActiveUsers/pdf}"><i class="fa fa-users fa-fw fa-sm"
                                aria-hidden="true"></i>&nbsp; Inactive Users </a>
                        <a class="collapse-item" th:href="@{/accounts/pdf}"><i class="fa fa-briefcase"
                                aria-hidden="true"></i>&nbsp; Accounts </a>
                        <a class="collapse-item" th:href="@{#}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp; Contributions
                        </a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>

            <!-- Contribution Report Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Contributions</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="g-3 needs-validation" action="#" th:action="@{/transactions}" method="post"
                                novalidate>
                                <!-- Account Name -->
                                <div class="form-floating mb-3">
                                    <select class="form-select form-control" aria-label="Default select example"
                                        required onChange="contributionReportToggle()" id="accountName"
                                        name="accountName">
                                        <option value="">...</option>
                                        <th:block th:each="account : ${accounts}">
                                            <option th:value="${account.name}" th:text="${account.name}"></option>
                                        </th:block>
                                    </select>
                                    <label for="accountNameInput">Account Name</label>
                                    <div class="valid-feedback">Looks good!</div>
                                    <div class="invalid-feedback">
                                        Please provide an Account Name.
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-sm btn-success shadow-sm" style="display: none;"
                                    id="viewContributionReportAll"><i class="fa fa-save fa-sm fa-fw"
                                        aria-hidden="true"></i>
                                    View Contributions</button>
                                <button type="button" class="btn btn-sm btn-success shadow-sm" data-bs-toggle="modal"
                                    data-bs-target="#monthlyReportContributionModal" style="display: none;"
                                    id="viewContributionReportMonthly"><i class="fa fa-save fa-sm fa-fw"
                                        aria-hidden="true"></i>
                                    View Contributions
                                </button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Monthly Report Contribution Modal -->
            <div class="modal fade" id="monthlyReportContributionModal" tabindex="-1"
                aria-labelledby="monthlyReportContributionModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="monthlyReportContributionModalLabel">Monthly Contributions
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="g-3 needs-validation" action="#" th:action="@{/monthlyTransactionPagePdf}"
                                method="post" novalidate>
                                <!-- Year -->
                                <div class="form-floating mb-3">
                                    <select class="form-select form-control" aria-label="Default select example"
                                        name="accountYear" required>
                                        <option value="">...</option>
                                        <th:block th:each="year : ${years}">
                                            <option th:value="${year.year}" th:text="${year.year}"></option>
                                        </th:block>
                                    </select>
                                    <label for="accountNameInput">Year</label>
                                    <div class="valid-feedback">Looks good!</div>
                                    <div class="invalid-feedback">
                                        Please select Year.
                                    </div>
                                </div>

                                <!-- Month -->
                                <div class="form-floating mb-3">
                                    <select class="form-select form-control" aria-label="Default select example"
                                        name="accountMonth" required>
                                        <option value="">...</option>
                                        <th:block th:each="month : ${months}">
                                            <option th:value="${month}"
                                                th:text="${#strings.capitalize(#strings.toLowerCase(month.name))}">
                                            </option>
                                        </th:block>
                                    </select>
                                    <label for="accountNameInput">Month</label>
                                    <div class="valid-feedback">Looks good!</div>
                                    <div class="invalid-feedback">
                                        Please provide a Month.
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-sm btn-success shadow-sm"><i
                                        class="fa fa-save fa-sm fa-fw" aria-hidden="true"></i>
                                    View Contributions</button>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle" onclick="smsmss()"></button>
            </div>

        </ul>
    </span>

    <!-- End of Sidebar -->

    <div th:fragment="script">
        <script>

            function contributionToggle() {

                var accountName = document.getElementById("mainAccountName").value;
                if (accountName == "Monthly Contribution") {
                    $('#viewContributionMonthly').show();
                    $('#viewContributionAll').hide();
                } else {
                    $('#viewContributionAll').show();
                    $('#viewContributionMonthly').hide();
                }
            }

            function contributionReportToggle() {

                var accountName = document.getElementById("accountName").value;
                if (accountName == "Monthly Contribution") {
                    $('#viewContributionReportMonthly').show();
                    $('#viewContributionReportAll').hide();
                } else {
                    $('#viewContributionReportAll').show();
                    $('#viewContributionReportMonthly').hide();
                }
            }

        </script>
        <!-- Jquery -->
        <script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>

        <script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js }"></script>

        <!-- Custom scripts for all pages-->
        <script th:src="@{/js/sb-admin-2.min.js}"></script>

        <!-- Page level plugins -->
        <script th:src="@{/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/datatables/dataTables.bootstrap4.min.js}"></script>

        <!-- Page level custom scripts -->
        <script th:src="@{/js/datatables-demo.js}"></script>

    </div>

</body>

</html>