<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
  <head>
    <title>Hello World!</title>

    <!-- Bootstrap CSS -->
    <link
      th:href="@{webjars/bootstrap/5.2.2/css/bootstrap.min.css}"
      rel="stylesheet"
    />

  </head>
  <body>
    <div class="container">
      <h1>Welcome Home</h1>

      <form th:action="@{/logout}" method="post">
        <input class="btn btn-link" type="submit" value="Sign Out" />
      </form>
    </div>

    <!-- Jquery -->
    <script th:src="@{webjars/jquery/3.6.1/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
  </body>
</html>
