<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="fragments/header.html :: header"></head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:insert="fragments/sidebar.html :: sidebar"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <nav aria-label="breadcrumb" class="d-none d-md-block">
                        <ol class="breadcrumb small" style="margin-top: 15px;">
                            <th:block th:if="${user.role.name == 'USER'}">
                                <li class="breadcrumb-item"><a th:href="@{/accounts/{id}(id = ${account.id})}">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Contributions</li>
                            </th:block>
                            <th:block th:if="${user.role.name != 'USER'}">
                                <li class="breadcrumb-item"><a th:href="@{/users}">Home</a></li>
                                <th:block th:if="${title == 'Contributions'}">
                                    <li class="breadcrumb-item"><a th:href="@{/accounts}">Accounts</a></li>
                                    <li class="breadcrumb-item"><a
                                            th:href="@{/accounts/{id}(id=${account.id})}">Account</a>
                                    </li>
                                </th:block>
                                <li class="breadcrumb-item active" aria-current="page">Contributions</li>
                            </th:block>
                        </ol>
                    </nav>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div th:insert="fragments/profile.html :: userMessages"></div>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <div th:insert="fragments/profile.html :: userInfo"></div>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div style="text-align: center;">
                        <th:block th:if="${title == 'Contributions'}">
                            <h1 class="h4 text-gray-800" th:text="${account.name}" id="transactionTitle">
                                Transactions </h1>
                        </th:block>

                        <h5 th:text="${title}"> Contributions </h5>
                    </div>
                    <th:block th:if="${title == 'Contributions'}">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <button type="button" class="btn btn-sm btn-success shadow-sm" data-bs-toggle="modal"
                                data-bs-target="#addTransactionModal">
                                <i class="fa fa-plus fs-fw fa-sm text-white-70" aria-hidden="true"></i>&nbsp; <span
                                    class="iconLabel">Add Contribution</span>
                            </button>

                            <a th:href="@{/accounts/{id}/transactions/pdf(id = ${account.id})}"
                                class="btn btn-sm btn-primary shadow-sm"><i
                                    class="fa fa-print fa-fw fa-sm text-white-70" aria-hidden="true"></i>&nbsp; <span
                                    class="iconLabel">
                                    Contribution Report</span></a>

                        </div>
                    </th:block>

                    <br />
                    <div class="card">

                        <div class="alert alert-danger" th:if="${transactionFail}" th:text="${transactionFail}">User
                            exists</div>
                        <div class="alert alert-success" th:if="${transactionSuccess}" th:text="${transactionSuccess}">
                            User saved</div>

                        <th:block th:if="${title == 'Contributions'}">
                            <div class="card-header" th:text="${'Bal: ' +  account.balance}">
                        </th:block>

                    </div>
                    <div class="card-body">
                        <table id="transactionTable" class="table table-sm table-responsive-md" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="min-width: 30px; max-width: 80px;" scope="col">#</th>
                                    <th style="min-width: 150px;" scope="col">Name</th>
                                    <th style="min-width: 80px;" scope="col">Amount</th>
                                    <th style="min-width: 90px;" scope="col">Time</th>
                                    <th style="min-width: 100px;" scope="col">Date</th>
                                    <th style="min-width: 80px;"></th>
                                    <th:block th:if="${user.role.name == 'SUPER_ADMIN'}">
                                        <th style="min-width: 80px;"></th>
                                    </th:block>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block>
                                    <tr th:each="transaction, itr : ${transactions}">
                                        <td th:text="${itr.count}">1</td>
                                        <td th:text="${transaction.user.firstName + ' ' + transaction.user.thirdName}">
                                        </td>
                                        <td th:text="${transaction.amount}"></td>
                                        <td th:text="${transaction.time}"></td>
                                        <td th:text="${transaction.date}"></td>
                                        <td>
                                            <th:block th:if="${title == 'Contributions'}">
                                                <a class="btn btn-sm btn-primary shadow-sm"
                                                    th:href="@{/accounts/{id}/transaction/{trans_id}(id = ${account.id}, trans_id = ${transaction.id})}"><i
                                                        class="fa fa-folder-open fs-sm" aria-hidden="true"></i> <span
                                                        class="iconLabel">View</span></a>
                                            </th:block>
                                        </td>
                                        <th:block th:if="${user.role.name == 'SUPER_ADMIN'}">
                                            <td>
                                                <th:block th:if="${title == 'Contributions'}">
                                                    <a data-bs-toggle="modal" href="#"
                                                        data-bs-target="#deleteTransactionModal"
                                                        th:data-href="@{/accounts/{id}/transactions/{trans_id}(id = ${account.id}, trans_id = ${transaction.id})}"
                                                        class="btn btn-sm btn-danger shadow-sm"><i
                                                            class="fa fa-trash-alt fa-sm" aria-hidden="true"></i> <span
                                                            class="iconLabel">Delete</span> </a>
                                                </th:block>
                                            </td>
                                        </th:block>
                                    </tr>
                                </th:block>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th style="min-width: 30px; max-width: 80px;" scope="col">#</th>
                                    <th style="min-width: 150px;" scope="col">Name</th>
                                    <th style="min-width: 80px;" scope="col">Amount</th>
                                    <th style="min-width: 90px;" scope="col">Time</th>
                                    <th style="min-width: 100px;" scope="col">Date</th>
                                    <th style="min-width: 80px;"></th>
                                    <th:block th:if="${user.role.name == 'SUPER_ADMIN'}">
                                        <th style="min-width: 80px;"></th>
                                    </th:block>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <th:block th:if="${title == 'Contributions'}">
                    <!-- Add a saving transaction model -->
                    <div class="modal fade" id="addTransactionModal" tabindex="-1"
                        aria-labelledby="addTransactionModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addTransactionModalLabel">
                                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add Contribution
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="g-3 needs-validation" action="#"
                                        th:action="@{/accounts/{accountId}/transaction(accountId = ${account.id})}"
                                        th:object="${transaction}" method="post" novalidate>
                                        <input type="text" id="typeInput" name="typeInput" value="Saving" hidden>
                                        <div class="form-floating mb-3">
                                            <select name="idNumberInput" class="form-select form-select-sm"
                                                aria-label="userIdNumber" autocomplete="on">
                                                <th:block th:each="user : ${users}">
                                                    <option
                                                        th:text="${user.idNumber + ' :- ' + user.firstName + ' '  + user.thirdName}"
                                                        th:value="${user.idNumber }">One
                                                    </option>
                                                </th:block>
                                            </select>
                                            <label class="col-form-label col-form-label-sm" for="idNumberInput"><i
                                                    class="fa fa-id-card fa-sm fa-fw" aria-hidden="true"></i>&nbsp; Id
                                                Number</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">
                                                Please provide an Id Number.
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="number" th:field="*{amount}"
                                                class="form-control form-control-sm" id="amountInput"
                                                placeholder="Amount" min="1" required>
                                            <label for="amount" class="col-form-label col-form-label-sm"><i
                                                    class="fa fa-money-bill-alt fa-sm fs-fw"
                                                    aria-hidden="true"></i>&nbsp;
                                                Amount </label>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Please enter amount.
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" th:field="*{referenceNumber}"
                                                class="form-control form-control-sm" id="referenceNumberInput"
                                                placeholder="Reference Number" required>
                                            <label for="referenceNumber" class="col-form-label col-form-label-sm"><i
                                                    class="fa fa-key fa-sm fs-fw" aria-hidden="true"></i>&nbsp;
                                                Reference
                                                Number </label>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Please enter reference number.
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-sm btn-success shadow-sm"><i
                                                class="fa fa-save fa-sm fa-fw" aria-hidden="true"></i>
                                            Contribute</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-danger shadow-sm"
                                        data-bs-dismiss="modal"><i class="fa fa-times fa-sm fa-fw"
                                            aria-hidden="true"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>

                <!-- Delete a transaction model -->
                <div class="modal fade" id="deleteTransactionModal" tabindex="-1"
                    aria-labelledby="deleteTransactionModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-danger" id="deleteTransactionModalLabel">Delete
                                    Contribution
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="text-danger">Contribution details and information
                                    will be deleted and will not be recovered. Are you sure you want
                                    to delete?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-success shadow-sm"
                                    data-bs-dismiss="modal">No!
                                    Don't
                                    Delete
                                    <i class="fas fa-fw fa-times"></i></button>
                                <a class="btn btn-sm btn-danger shadow-sm ok-button">Yes! Delete <i
                                        class="fas fa-fw fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div th:insert="fragments/header.html :: footer"></div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div th:insert="fragments/profile.html :: logoutModal"></div>

    <div></div>

    <div th:insert="fragments/sidebar.html :: script"></div>

    <script type="text/javascript">
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()

        $('#deleteTransactionModal').on(
            'show.bs.modal',
            function (e) {
                $(this).find('.ok-button').attr('href',
                    $(e.relatedTarget).data('href'));
            });

        $("#editDetails").click(function () {
            $("#changeDetails").show();
            $("#editDetails").hide();
            $("#descriptionInput").prop('disabled', false);

        });

        $("#changeDetails").submit(function (e) {
            e.preventDefault();
            $("#editDetails").show();
            $("#changeDetails").hide();
        });

        $(document).ready(function () {
            $('#transactionTable').DataTable();
        });

    </script>

</body>

</html>