<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
  <head>
    <title>Welcome</title>
    <link
      th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"
      rel="stylesheet"
    />

  </head>

  <body>
    <div class="container">
      <br />
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Users</li>
        </ol>
      </nav>

      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#addUserModal"
      >
        Add a user
      </button>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Second Name</th>
            <th scope="col">Third Name</th>
            <th scope="col">Id Number</th>
            <th scope="col">Phone Number</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <th:block th:each="user,itr : ${users}">
            <tr>
              <th scope="row" th:text="${itr.count}">1</th>
              <td th:text="${user.firstName}">First Name</td>
              <td th:text="${user.secondName}">Second Name</td>
              <td th:text="${user.thirdName}">Third Name</td>
              <td th:text="${user.idNumber}">Third Name</td>
              <td th:text="${user.phoneNumber}">Third Name</td>
              <td>
                <a
                  th:href="@{/users/{idNumber}(idNumber = ${user.idNumber})}"
                  class="btn btn-primary"
                  >View</a
                >
              </td>
              <td>
                <a
                  data-bs-toggle="modal"
                  href="#"
                  data-bs-target="#deleteUserModal"
                  th:data-href="@{/user/{idNumber}(idNumber = ${user.idNumber})}"
                  class="btn btn-danger"
                >
                  Delete <i class="fas fa-fw fa-trash-alt"></i
                ></a>
              </td>
            </tr>
          </th:block>
        </tbody>
      </table>
    </div>

    <!-- Add User Modal -->
    <div
      class="modal fade"
      id="addUserModal"
      tabindex="-1"
      aria-labelledby="addUserModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addUserModalLabel">Add User</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              class="g-3 needs-validation"
              action="#"
              th:action="@{/user}"
              th:object="${user}"
              method="post"
              novalidate
            >
              <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input
                  type="text"
                  th:field="*{firstName}"
                  class="form-control"
                  id="firstNameInput"
                  placeholder="First Name"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide First Name.</div>
              </div>
              <div class="mb-3">
                <label for="secondName" class="form-label">Second Name</label>
                <input
                  type="text"
                  th:field="*{secondName}"
                  class="form-control"
                  id="secondNameInput"
                  placeholder="Second Name"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide Second Name.</div>
              </div>
              <div class="mb-3">
                <label for="thirdName" class="form-label">Third Name</label>
                <input
                  type="text"
                  th:field="*{thirdName}"
                  class="form-control"
                  id="thirdNameInput"
                  placeholder="Third Name"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide a Third Name.</div>
              </div>
              <div class="mb-3">
                <label for="role" class="form-label">Roles</label>
                <select
                  class="form-select"
                  id="roleInput"
                  th:name="role"
                  required
                >
                  <option selected disabled value="">Choose Role...</option>
                  <option value="ADMIN">Admin</option>
                  <option value="ACCOUNT_USER">Account User</option>
                </select>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please choose a role.</div>
              </div>
              <div class="mb-3">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input
                  type="number"
                  th:field="*{phoneNumber}"
                  class="form-control"
                  id="phoneNumberInput"
                  placeholder="Phone Number"
                  min="0100000000"
                  max="0799999999"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">
                  Please provide a phone number.
                </div>
              </div>
              <div class="mb-3">
                <label for="idNumber" class="form-label">Id Number</label>
                <input
                  type="number"
                  th:field="*{idNumber}"
                  class="form-control"
                  id="idNumberInput"
                  placeholder="Id Number"
                  required
                  min="1000000"
                />
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide an id number.</div>
              </div>
              <button type="submit" class="btn btn-success">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete a user model -->
    <div
      class="modal fade"
      id="deleteUserModal"
      tabindex="-1"
      aria-labelledby="deleteUserModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="deleteUserModalLabel">
              Delete User
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p class="text-danger">
              All user details and information will be deleted and will not be
              recovered. Are you sure you want to delete?
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-success"
              data-bs-dismiss="modal"
            >
              No! Don't Delete <i class="fas fa-fw fa-times"></i>
            </button>
            <a class="btn btn-danger ok-button"
              >Yes! Delete <i class="fas fa-fw fa-trash-alt"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>

    <script type="text/javascript">
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();

      $("#deleteUserModal").on("show.bs.modal", function (e) {
        $(this)
          .find(".ok-button")
          .attr("href", $(e.relatedTarget).data("href"));
      });
    </script>

    <script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
  </body>
</html>
